apiVersion: 1

datasources:
  - name: VictoriaLogs
    type: victorialogs-datasource
    access: proxy
    url: http://victoria-logs:9428
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
